/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* Tipografía */
@font-face {
  font-family: "BaskerRegular";
  src: url("../font/baskerville.woff2") format("woff2"), url("") format("woff");
}

@font-face {
  font-family: "RoboBlack";
  src: url("../font/RobotoBlack.woff2") format("woff2"), url("") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.woff2") format("woff2"), url("") format("woff");
}
/* ******************************** */
/* Colores */
/* ******************************** */
:root {
  --c-blanco: #fff;
  --c-gris_claro: #444444;
  --c-gris_medio_oscuro: #212121;
  --c-verde_oscuro: #434f43;
  --c-linea: #cecece;
  --c-footer: rgba(237, 230, 220, 0.42);

  /* Tamaños */
  --tam-max: 1920px;
  --tam-min: 1200px;
}

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */
html {
  font-family: "BaskerRegular";
  font-size: 16px;
  overflow-x: hidden;
}

/* Apartado del cuerpo de la pagina */
body {
  width: min(var(--tam-max), 100%);

  & .container {
    width: max(var(--tam-min), 100vw);
    /* display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(3, auto-fill);
    gap: 8px; */

    /* Aparatado del encabezado */
    & .header {
      background-color: #fff;
      padding: 40px 0px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      width: 100%;
      /* Alienación en horizontal, cada hijo a cada lado */
      display: flex;
      align-items: center;
      justify-content: space-around;

      & .logo {
        & .logo__img {
          width: 20%;
        }
      }
      .navprincipal {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: "BaskerRegular";
        text-transform: uppercase;
        padding-right: 20px;
      }
      & a {
        color: var(--c-gris_claro);
        font-size: 15px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 1em;
        font-weight: 400;
      }
      /* Cuando la flecha del ratón pase por encima de los enlaces del sitio */
      & a:hover {
        color: gray;
      }
      /* Activación de la página HTML */
      & .activo {
        background-color: red;
        color: #fff;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: default;
      }
      & .activo:hover {
        text-decoration: none;
      }
    }
  }

  /* Centro de la pagina */
  & main {
    /* Apartado del banner */
    & .main__imagen01 {
      & img {
        width: 100vw;
        height: auto;
        display: block;
      }
    }
    /* Fin del Banner */

    /* Apartade del encabezado */
    & .main__titulo {
      width: 100vw;
      text-align: center;
      padding: 80px 0;
      line-height: 50px;
      letter-spacing: 3px;
      color: var(--c-gris_medio_oscuro);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & .main__titulo-linea {
        margin: 80px 0;
        align-self: center;
        width: 80px;
        height: 2px;
        background-color: var(--c-gris_claro);
        transform: rotate(90deg);
      }
    }
    /* Fin del encabezado */

    /* Apartado de la galeria */
    & .main__galeria {
      width: min(var(--tam-min), 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      & .container {
        background-color: var(--c-blanco);
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-auto-flow: row;
        gap: 11px 11px;
        grid-template-areas:
          "uno uno dos"
          "uno uno cuatro"
          "tres cinco cuatro"
          "tres seis seis"
          "siete seis seis";

        & .uno {
          grid-area: uno;

          & figure {
            position: relative;

            & figcaption {
              position: absolute;
              z-index: 10;
              top: 35%;
              left: 19%;
              transform: translateX(-50%);
              background-color: var(--c-blanco);
              padding: 50px 150px 50px 20px;
              text-align: left;

              & h2,
              p {
                margin-left: 120px;
                letter-spacing: 3px;
                line-height: 2;
                font-size: 13px;
              }
            }
          }
        }

        & .dos {
          grid-area: dos;
        }

        & .tres {
          grid-area: tres;
        }

        & .cinco {
          grid-area: cinco;
        }

        & .cuatro {
          grid-area: cuatro;
        }

        & .siete {
          grid-area: siete;
        }

        & .seis {
          grid-area: seis;
        }
      }
      & :where(figure > img) {
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
      }

      & :where(figure):hover {
        -webkit-transform: scale(0.98, 0.98);
        transform: scale(0.98, 0.98);
      }
      /* Fin de la galeria */
    }

    /* Apartado de contactar */
    & .main__contactar {
      width: 100vw;
      text-align: center;
      padding: 80px 0;
      line-height: 50px;
      letter-spacing: 3px;
      color: var(--c-gris_medio_oscuro);
      font-family: ;

      & a {
        text-decoration: none;
        color: var(--c-gris_medio_oscuro);
        padding: 10px 40px;
        border: 0.5px solid var(--c-gris_claro);
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }

  /* Pie de pagina */
  & footer {
    width: 100vw;
    background-color: var(--c-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max(var(--tam-min), 100vw);
    margin: 0 auto;
    padding: 50px 0;

    & img {
      max-width: 10%;
    }
    & .footer__contenido {
      width: max(var(--tam-min, 100vw));
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 auto;
      padding: 40px;

      & .footer__menu {
        display: flex;
        gap: 120px;
        padding: 0 50px;

        & .footer__menu ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & .footer__menu li {
            display: inline-block;
            line-height: 10;
          }
        }
        & :where(a) {
          text-decoration: none;
          color: var(--c-gris_medio_oscuro);

          & :hover {
            color: var(--c-verde_oscuro);
          }
        }
      }
    }
    & .footer__linea {
      border: 1px solid var(--c-linea);
      width: 70%;
      margin: 20px 0;
    }

    & p {
      font-style: italic;
      color: var(--c-gris_claro);
    }
  }
}
