/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* Tipografía */
@font-face {
  font-family: "BaskerRegular";
  src: url("../font/baskerville.woff2") format("woff2"), url("") format("woff");
}

@font-face {
  font-family: "RoboBlack";
  src: url("../font/RobotoBlack.woff2") format("woff2"), url("") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.woff2") format("woff2"), url("") format("woff");
}
/* ******************************** */
/* Colores */
/* ******************************** */
:root {
  --c-blanco: #fff;
  --c-gris_claro: #444444;
  --c-gris_medio_oscuro: #212121;

  --tam-max: 1920px;
  --tam-min: 1200px;
}

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */
html {
  font-family: "BaskerRegular";
  font-size: 16px;
}

body {
  width: min(var(--tam-max), 100vw);

  & .container {
    width: max(var(--tam-min), 100vw);
    /* display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(3, auto-fill);
    gap: 8px; */

    & .header {
      background-color: #fff;
      padding: 40px 0px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      width: 100%;
      /* Alienación en horizontal, cada hijo a cada lado */
      display: flex;
      align-items: center;
      justify-content: space-around;

      & .logo {
        & .logo__img {
          width: 20%;
        }
      }
      .navprincipal {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: "BaskerRegular";
        text-transform: uppercase;
      }
      & a {
        color: var(--c-gris_claro);
        font-size: 15px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 1em;
        font-weight: 400;
      }
      /* Cuando la flecha del ratón pase por encima de los enlaces del sitio */
      & a:hover {
        color: gray;
      }
      /* Activación de la página HTML */
      & .activo {
        background-color: red;
        color: #fff;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: default;
      }
      & .activo:hover {
        text-decoration: none;
      }
    }
  }
  & main {
    /* Apartado del banner */
    & .main__imagen01 {
      & img {
        width: 100vw;
        height: auto;
        display: block;
      }
    }
    /* Fin del Banner */

    /* Apartade del encabezado */
    & .main__titulo {
      width: 100vw;
      text-align: center;
      padding: 80px 0;
      line-height: 50px;
      letter-spacing: 3px;
      color: var(--c-gris_medio_oscuro);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & .main__titulo-linea {
        margin: 80px 0;
        align-self: center;
        width: 80px;
        height: 2px;
        background-color: var(--c-gris_claro);
        transform: rotate(90deg);
      }
    }
    /* Fin del encabezado */

    /* Apartado de la galeria */

    & .main__galeria {
      display: flex;
      justify-content: center;
      align-items: center;
      width: min(var(--tam-min), 100%);

      & .container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 11px 11px;
        grid-auto-flow: row;

        .uno {
          grid-area: 1 / 1 / 3 / 3;
        }
        .dos {
          grid-area: 1 / 3 / 2 / 4;
        }
        .tres {
          grid-area: 3 / 1 / 5 / 2;
        }
        .cinco {
          grid-area: 3 / 2 / 4 / 3;
        }
        .cuatro {
          grid-area: 2 / 3 / 4 / 4;
        }
        .seis {
          grid-area: 5 / 1 / 6 / 2;
        }
        .siete {
          grid-area: 5 / 1 / 6 / 2;
        }
      }
      /* Fin de la galeria */
    }
  }
}
